<form action="/users/getstudent" method="post">
  <div class="form-group mb-2">
    <label for="" class="mb-2">Student ID</label>
    <input
      type=""
      id="stdID"
      name="stdID"
      class="form-control"
      placeholder="Please Enter your ID"
    />
  </div>
  <button type="submit" class="btn btn-primary btn-block">Search</button>
</form>
