
<div class="row mt-5">
  <h1 style="text-align: center;">موقع التربية العسكرية </h1>
  <h2 style="text-align: center;">كلية الهندسة بشبرا </h2>
  <br>
  <div class="col-md-6 m-auto">
    <br>
  </div>

<br />
<form
  action="/users/uploadfile"
  method="POST"
  enctype="multipart/form-data"
>
  <div class="form-group">
    <input type="file" name="file" size="50" class="form-control" />
  </div>
  <br />
  <div class="form-group">
    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
  </div>
</form>
